/* Importation de la police Roboto depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Importation de la police Press Start 2P depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Définition des variables CSS pour les polices et les couleurs */
:root {
    --font-primary: 'Roboto', sans-serif; /* Définition de la police principale */
    --font-title: 'Press Start 2P', cursive; /* Définition de la police pour les titres */
    --color-primary: #ffd700; /* Couleur dorée */
    --color-background: rgba(0, 0, 0, 0.6); /* Fond semi-transparent noir */
    --color-text: #fff; /* Blanc pour le texte */
    --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre portée pour le texte */
    --color-fond-page: linear-gradient(120deg, #2a295c,#e3865b,#8c6d1a);
    --color-fond-th: rgba(0, 0, 0, 0.8); /* Fond noir semi-transparent */
    --color-fond-td: rgba(0, 0, 0, 0.5); /* Fond noir semi-transparent */
    --color-lien-telechargement: #333; /* Couleur grise */
    --color-lien-survol: #ffd700; /* Couleur dorée */
}

/* Définition de l'animation de l'arrière-plan de la page */
@keyframes gradientAnimation {
    0% {
        background: linear-gradient(120deg, #2a295c, #e3865b, #8c6d1a);
        background-size: 200% 200%;
        background-position: 0% 50%;
    }
    50% {
        background: linear-gradient(120deg, #8c6d1a, #2a295c, #e3865b);
        background-size: 200% 200%;
        background-position: 100% 50%;
    }
    100% {
        background: linear-gradient(120deg, #2a295c, #e3865b, #8c6d1a);
        background-size: 200% 200%;
        background-position: 0% 50%;
    }
}

/* Style de base pour le corps du document */
body {
    font-family: var(--font-primary); /* Utilisation de la police principale */
    margin: 0; /* Suppression des marges par défaut */
    padding: 0; /* Suppression des paddings par défaut */
    /* Dégradé de fond avec des images de manettes de jeux vidéos */
    background: linear-gradient(120deg, #2a295c, #e3865b, #8c6d1a); 
    color: var(--color-text); /* Couleur du texte */
    display: flex; /* Affichage en flexbox */
    flex-direction: column; /* Disposition des enfants en colonne */
    min-height: 100vh; /* Hauteur minimale sur toute la hauteur de la fenêtre */
    text-align: center; /* Alignement centré du texte */
    /* Application de l'animation du dégradé d'arrière-plan de la page */
    animation: gradientAnimation 15s ease infinite;
}
/* Style de base pour le corps du document */

/* Style pour l'en-tête */
header {
    position: fixed; /* Position fixe en haut de la page */
    top: 0; /* Placement en haut de la page */
    width: 100%; /* Largeur de l'en-tête sur toute la largeur de la page */
    background-color: var(--color-background); /* Couleur de fond */
    padding: 20px; /* Padding interne */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ombre portée */
    z-index: 1000; /* Assure que l'en-tête est au-dessus des autres éléments */
    transition: background-color 0.3s ease, padding 0.3s ease; /* Transitions pour les changements de style */
    display: flex; /* Affichage en flexbox */
    justify-content: space-between; /* Espace égal entre les éléments */
    align-items: center; /* Alignement vertical des items */
}
/* Style pour l'en-tête */

/* Styles pour le conteneur de l'en-tête et les éléments enfants */
.header-container, .header-container .logo, header h1 {
    display: flex; /* Affichage en flexbox */
    align-items: center; /* Alignement vertical */
}
/* Styles pour le conteneur de l'en-tête et les éléments enfants */

/* Style pour le logo */
.logo {
    height: 65px; /* Hauteur du logo */
    margin-right: 20px; /* Marge à droite */
}
/* Style pour le logo */

/* Style pour le titre dans l'en-tête */
header h1 {
    margin: 0; /* Suppression des marges */
    font-size: 1.5em; /* Taille de la police */
    color: var(--color-primary); /* Couleur du texte */
    animation: fadeInDown 1s ease-in-out; /* Animation de fondu en bas */
    text-shadow: var(--text-shadow); /* Ombre portée */
    font-family: var(--font-title); /* Utilisation de la police de titre */
}
/* Style pour le titre dans l'en-tête */

/* Style des liens dans le titre et la navigation */
header h1 a, header nav ul li a {
    color: inherit; /* Hérite de la couleur de son parent */
    text-decoration: none; /* Pas de soulignement */
}
/* Style des liens dans le titre et la navigation */

/* Style pour la navigation */
header nav {
    margin-top: 10px; /* Marge en haut */
}
/* Style pour la navigation */

/* Style pour la liste de navigation */
header nav ul {
    list-style: none; /* Suppression des puces */
    padding: 0; /* Suppression des paddings */
    display: flex; /* Affichage en flexbox */
    gap: 15px; /* Espace entre les éléments */
}
/* Style pour la liste de navigation */

/* Style pour les items de la liste de navigation */
header nav ul li {
    margin: 0 15px; /* Marge horizontale */
}
/* Style pour les items de la liste de navigation */

/* Style pour les liens de la liste de navigation */
header nav ul li a {
    font-weight: bold; /* Texte en gras */
    transition: color 0.3s ease; /* Transition pour le changement de couleur */
    font-family: var(--font-title); /* Utilisation de la police de titre */
    font-size: 18px; /* Taille de la police */
}
/* Style pour les liens de la liste de navigation */

/* Style spécifique pour l'élément d'inscription */
header nav ul li.inscription {
    margin-right: 60px; /* Marge à droite */
}
/* Style spécifique pour l'élément d'inscription */

/* Style pour les liens de navigation au survol */
header nav ul li a:hover {
    color: var(--color-primary); /* Changement de couleur au survol */
}
/* Style pour les liens de navigation au survol */

/* Style pour le bouton de menu toggle */
.menu-toggle {
    display: none; /* Caché par défaut */
    font-size: 28px; /* Taille de la police */
    background: none; /* Pas de fond */
    border: none; /* Pas de bordure */
    color: var(--color-primary); /* Couleur du texte */
    cursor: pointer; /* Curseur main */
    position: absolute; /* Position absolue pour un positionnement précis */
    left: 80px; /* Placement à 80px du bord gauche */
    top: 20px; /* Placement à 20px du bord supérieur */
}
/* Style pour le bouton de menu toggle */

/* Media query pour les écrans de petite taille */
@media (max-width: 768px) {
    /* Affichage du toggle menu */
    .menu-toggle {
        display: block; /* Affiché en petit écran */
    }

    /* Style pour la navigation en petit écran */
    header nav {
        display: none; /* Caché par défaut */
        flex-direction: column; /* Disposition verticale */
        align-items: center; /* Alignement central */
        background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
        position: absolute; /* Position absolue */
        top: 100%; /* Placement sous l'en-tête */
        width: 100%; /* Largeur sur toute la page */
        left: 0; /* Aligné à gauche */
        padding: 20px 0; /* Padding interne */
    }

    /* Affichage de la navigation en mode ouvert */
    header nav.open {
        display: flex; /* Affichage en flexbox */
    }

    /* Disposition verticale pour les items de la navigation */
    header nav ul {
        flex-direction: column; /* Disposition verticale */
        gap: 10px; /* Espace entre les items */
    }

    header nav ul li {
        margin: 0; /* Suppression des marges */
    }
}
/* Media query pour les écrans de petite taille */

/* Style pour les sections */
section {
    padding: 80px 20px 20px; /* Padding interne */
    animation: fadeInUp 1s ease-in-out; /* Animation de fondu en haut */
    margin-bottom: 20px; /* Marge en bas */
    /* Alignement des textes au centre */
    text-align: center;
}
/* Style pour les sections */

section#video p{
    color: var(--color-primary);
    font-size: 20px;
    font-weight: bold;
}

/* Style pour créer un effet de clignotement du texte de lien au survol */
@keyframes blink {
    0% {
        color: var(--color-lien-telechargement);
    }
    50% {
        color: var(--color-lien-survol);
    }
    100% {
        color: var(--color-lien-telechargement);
    }
}
/* Style pour créer un effet de clignotement du texte de lien au survol */

section#video p a {
    color: var(--color-lien-telechargement);
    text-decoration: none;
    transition: color 0.3s ease; /* Transition douce pour le changement initial */
}

section#video p a:hover {
    animation: blink 1s infinite; /* Animation de clignotement */
    text-decoration: none;
}

/* Styles spécifiques pour la section vidéo */
section#video {
    padding: 0; /* Suppression du padding */
}
/* Styles spécifiques pour la section vidéo */

/* Style pour les vidéos dans la section vidéo */
section#video video {
    width: 100%; /* Largeur maximale */
    max-width: none; /* Pas de largeur maximale */
    border-radius: 0; /* Pas de bordure arrondie */
    box-shadow: none; /* Pas d'ombre portée */
}
/* Style pour les vidéos dans la section vidéo */

/* Styles pour le bouton cliquable sur la vidéo */
.video-button{

    /* Position absolue pour le bouton */
    position: absolute;
    /* Placement vertical au milieu */
    top: 50%;
    /* Placement horizontal au milieu */
    left: 50%;
    /* Centrage du bouton */
    transform: translate(-50%, -50%);
    /* Couleur d'arrière-plan */
    background-color: var(--color-primary);
    /* Couleur du texte du bouton */
    color: #000;
    /* Padding interne du bouton */
    padding: 10px 20px;
    /* Pas de bordure */
    border: none;
    /* Arrondir les coins du bouton */
    border-radius: 5px;
    /* Pas de soulignement */
    text-decoration: none;
    /* Taille de la police */
    font-size: 1.2em;
    /* Utilisation d'une famille de police d'écriture */
    font-family: var(--font-title);
    /* Mettre le texte en gras */
    font-weight: bold;
    /* Ombre portée */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
    /* Transition au survol pour le fond et l'agrandissement du bouton */
    transition: background-color 0.3s ease, tranform 0.3s ease;
}
/* Styles pour le bouton cliquable sur la vidéo */

/* Styles au survol du bouton */
.video-button:hover{
    background-color: #ffe033;
    /* Agrandissement au survol */
    transform: translate(-50%, -50%) scale(1.1);
    /* Changement de la taille de l'ombre portée */
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
}

/* Styles au survol du bouton */

/* Styles pour les sections spécifiques */
section#inscription, section#programme, section#intervenants, #last-year-video {
    background: var(--color-background); /* Fond semi-transparent */
    padding: 40px; /* Padding interne */
    border-radius: 10px; /* Bordure arrondie */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ombre portée */
    margin-bottom: 20px; /* Marge en bas */
    width: 70%; /* Largeur de 60% */
    margin: 0 auto 20px; /* Centré horizontalement avec une marge en bas */
}
/* Styles pour les sections spécifiques */

section#inscription h2{
    color: var(--color-primary);
}

/* Style pour le formulaire d'inscription */
section#inscription form {
    display: flex; /* Affichage en flexbox */
    flex-direction: column; /* Disposition verticale */
    align-items: center; /* Alignement central */
    background-color: #f6f8fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 8px rgba(0, 0, 0, 0.2);
}
/* Style pour le formulaire d'inscription */

/* Style pour les inputs et boutons du formulaire d'inscription */
section#inscription form input, section#inscription form button {
    width: 80%; /* Largeur de 80% */
    max-width: 400px; /* Largeur maximale de 400px */
    padding: 10px; /* Padding interne */
    margin: 10px 0; /* Marge verticale */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Bordure arrondie */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre portée */
    transition: box-shadow 0.3s ease; /* Transition pour l'ombre */
}
/* Style pour les inputs et boutons du formulaire d'inscription */

/* Style pour les inputs et boutons du formulaire d'inscription au focus */
section#inscription form input:focus, section#inscription form button:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombre portée au focus */
    outline: none; /* Suppression du contour */
}
/* Style pour les inputs et boutons du formulaire d'inscription au focus */

/* Style pour le bouton du formulaire d'inscription */
section#inscription form button {
    background: var(--color-primary); /* Couleur de fond */
    color: #333; /* Couleur du texte */
    font-size: 1.2em; /* Taille de la police */
    cursor: pointer; /* Curseur main */
    transition: background 0.3s ease, box-shadow 0.3s ease; /* Transitions pour le fond et l'ombre */
}
/* Style pour le bouton du formulaire d'inscription */

/* Style pour le bouton du formulaire d'inscription au survol */
section#inscription form button:hover{
    /* Changement de la couleur de fond au survol */
    background: #ffe033;
    /* Ombre portée au survol */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
/* Style pour le bouton du formulaire d'inscription au survol */

section#programme h2{
    color: var(--color-primary);
}

/* Styles pour le tableau de la section programme */
section#programme table{
    /* Largeur maximale */
    width: 100%;
    /* Fusion des bordures */
    border-collapse: collapse;
    /* Marge verticale */
    margin: 20px 0;
}
/* Styles pour le tableau de la section programme */

/* Styles pour les cellules du tableau de la section programme */
section#programme th, section#programme td{
    /* Padding interne */
    padding: 15px;
    /* Bordure du tableau en doré */
    border: 1px solid var(--color-primary);
    /* Couleur des textes */
    color: var(--color-primary)
}
/* Styles pour les cellules du tableau de la section programme */

/* Style pour l'en-tête du tableau */
section#programme th{
    /* Fond semi-transparent */
    background-color: var(--color-fond-th);
}
/* Style pour l'en-tête du tableau */

/* Style pour les cellules du tableau */
section#programme td{
    background-color: var(--color-fond-td);
}
/* Style pour les cellules du tableau */

/* Média query pour les écrans de petite taille */
@media (max-width: 600px){
    /* Style pour rendre le tableau défilable horizontalement */
    section#programme table{
        /* Affichage en bloc */
        display: block;
        /* Défilement horizontal */
        overflow-x: auto;
    }
}
/* Média query pour les écrans de petite taille */

section#intervenants h2{
    color: var(--color-primary);
}

/* Style pour le carrousel des intervenants */
section#intervenants .carousel{
    /* Positionnement relatif */
    position: relative;
    /* Masquer le débordement */
    overflow: hidden;
    /* Largeur de 100% de son conteneur */
    width: 100%;
    /* Bordure arrondie */
    border-radius: 15px;
}
/* Style pour le carrousel des intervenants */

/* Styles pour les diapositives du carrousel */
section#intervenants .slides{
    /* Affichage en flexbox */
    display: flex;
    /* Transition pour le déplacement des diapositives */
    transition: transform 0.5s ease;
    /* Prendre 100% de la largeur du conteneur */
    width: 100%;
}
/* Styles pour les diapositives du carrousel */

/* Style pour chaque diapositive du carrousel */
section#intervenants .slide{
    /* Pas de flex pour les diapositives*/
    flex: none;
    /* Largeur de la diapositive à 100% */
    width: 100%;
    /* Alignement au début de chaque diapositive */
    scroll-snap-align: start;
    /* Positionnement relatif */
    position: relative;
}
/* Style pour chaque diapositive du carrousel */

/* Styles pour les légendes des diapositives */
.caption{
    /* Fond transparent */
    background-color: rgba(0, 0, 0, 0.7);
    /* Couleur du texte */
    color: #fff;
    /* Taille de la police d'écriture */
    font-size: 18px;
    /* Padding interne */
    padding: 10px;
    /* Position absolue */
    position: absolute;
    /* Placement en bas */
    bottom: 0;
    /* Largeur à 100% */
    width: 100%;
    /* Alignement central du texte */
    text-align: center;
}
/* Styles pour les légendes des diapositives */

/* Styles pour les images des intervenants */
section#intervenants img{
    /* Largeur de l'image à 100% */
    width: 100%;
    /* Hauteur de l'image s'ajustant automatiquement */
    height: auto;
    /* Affichage en bloc */
    display: block;
}
/* Styles pour les images des intervenants */

/* Styles pour les boutons de navigation du carrousel */
section#intervenants .prev, section#intervenants .next{
    /* Position absolue */
    position: absolute;
    /* Placement vertical au milieu */
    top: 50%;
    /* Centrage vertical */
    transform: translateY(-50%);
    /* Couleur des fléches */
    color: #333;
    /* Pas de bordure */
    border: none;
    /* paddind interne */
    padding: 10px 20px;
    /* Taille des fléches */
    font-size: 24px;
    /* Changement de l'aspect du curseur au survol */
    cursor: pointer;
    /* Bordure arrondie */
    border-radius: 5px;
    /* Assure que les boutons sont au-dessus des images */
    z-index: 100;
    background-color: var(--color-primary);
    font-weight: bold;
}
/* Styles pour les boutons de navigation du carrousel */

/* Style pour le positionnement du bouton précédent */
section#intervenants .prev{
    /* Placement à gauche */
    left: 10px;
}
/* Style pour le positionnement du bouton précédent */

/* Style pour le positionnement du bouton suivant */
section#intervenants .next{
    /* Placement à gauche */
    right: 10px;
}
/* Style pour le positionnement du bouton suivant */

#last-year-video p{
    color: var(--color-primary);
    font-size: 20px;
    font-weight: bold;
}

/* Style pour créer un effet de clignotement du texte de lien au survol */
@keyframes blink {
    0% {
        color: var(--color-lien-telechargement);
    }
    50% {
        color: var(--color-lien-survol);
    }
    100% {
        color: var(--color-lien-telechargement);
    }
}
/* Style pour créer un effet de clignotement du texte de lien au survol */

#last-year-video p a{
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.3s ease; /* Transition douce pour le changement initial */
}

#last-year-video p a:hover {
    animation: blink 1s infinite; /* Animation de clignotement */
    text-decoration: none;
}

/* Styles pour le titre de la vidéo de l'année précédente */
#last-year-video h2{
    color: var(--color-primary);
    margin-bottom: 20px;
}
/* Styles pour le titre de la vidéo de l'année précédente */

/* Style pour la vidéo de l'année précédente */
#last-year-video video{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/* Style pour la vidéo de l'année précédente */

/* 1- Styles pour la section "Où nous trouver" */
#ou-nous-trouver {
    background: var(--color-background);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    width: 70%;
    margin: 0 auto 20px;
}
/* 1- Styles pour la section "Où nous trouver" */

/* Css pour le titre de la section "Où nous trouver" */
#ou-nous-trouver h2 {
    color: var(--color-primary);
    margin-bottom: 20px;
}
/* Css pour le titre de la section "Où nous trouver" */

/* 2- Styles pour le conteneur principal de la section */
#ou-nous-trouver .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
/* 2- Styles pour le conteneur principal de la section */

/* 3- Styles pour les deux div à l'intérieur du conteneur principal de la page */
#ou-nous-trouver .map-container, #ou-nous-trouver .contact-info {
    flex: 1;
    background-color: var(--color-lien-telechargement);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 4- Couleur du texte pour la partie des coordonnées 'contact-info' */
#ou-nous-trouver .contact-info {
    color: var(--color-text);
}
/* 4- Couleur du texte pour la partie des coordonnées 'contact-info' */

/* 5- Couleur du texte du titre dans la partie des coordonnées */
#ou-nous-trouver .contact-info h2 {
    color: var(--color-primary);
}
/* 5- Couleur du texte du titre dans la partie des coordonnées */

/* 6- Styles pour les liens qui se trouvent dans les paragraphes avec transition */
#ou-nous-trouver .contact-info p a {
    color: var(--color-primary);
    text-decoration: none;
    transition: color 0.3s ease;
}
/* 6- Styles pour les liens qui se trouvent dans les paragraphes avec transition */

/* 7- Couleur du texte des liens au survol */
#ou-nous-trouver .contact-info p a:hover {
    color: #edece5;
}
/* 7- Couleur du texte des liens au survol */

/* 8- Média query pour écrans moyens et plus */
@media (min-width: 768px) {
    #ou-nous-trouver .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    #ou-nous-trouver .map-container, #ou-nous-trouver .contact-info {
        width: 45%;
    }
}
/* 8- Média query pour écrans moyens et plus */

/* Média query pour les écrans de petite tailles */
@media (max-width: 768px) {
    #ou-nous-trouver .container {
        flex-direction: column;
        align-items: center;
    }
    #ou-nous-trouver .map-container, #ou-nous-trouver .contact-info {
        width: 100%;
        margin: 10px 0;
    }
}

iframe {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

/* Syles pour le pied de page */
footer{
    background-color: var(--color-background);
    padding: 10px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
}
/* Syles pour le pied de page */

/* Styles du conteneur du pied de page */
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Styles du conteneur du pied de page */

/* Styles des icônes des réseaux sociaux */
.social-icons a{
    margin-right: 10px;
}

.social-icons img{
    width: 26px;
    height: 26px;
}
/* Styles des icônes des réseaux sociaux */

/* Styles pour le paragraphe du pied de page */
footer p{
    margin: 0;
    font-size: 1.1em;
    color: var(--color-primary);
    animation: fadeIn 1s ease-in-out;
}
/* Styles pour le paragraphe du pied de page */

/* Média query pour les petits écrans */
@media (max-width: 768px){
    .footer-container{
        flex-direction: column;
    }

    .social-icons{
        margin-bottom: 10px;
    }
}

/* Animation de fondu en bas */
@keyframes fadeInDown{
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* Animation de fondu en bas */

/* Animation de fondu en haut */
@keyframes fadeInUp{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* Animation de fondu en haut */

/* Styles pour personnaliser la barre de défilement de la page */
::-webkit-scrollbar{
    /* Largeur de la barre de défilement */
    width: 12px;
    /* Hauteur pour les barres de défilements horizontales */
    height: 12px;
}

::-webkit-scrollbar-track{
    /* Couleur de fond de la piste de la barre de défilement */
    background: #8c6d1a;
    /* Bordures arrondies pour la piste */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    /* Couleur du curseur de la barre de défilement */
    background-color: #2a295c;
    /* Bordures arrondies pour le curseur */
    border-radius: 5px;
    /* Bordure autour du curseur */
    border: 2px solid #185a9d;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #ffe033;
}
/* Styles pour personnaliser la barre de défilement de la page */

/* Travail du CSS pour le responsive design */
@media (max-width: 480px){
    body{
        /* Réduction de la taille de la police pour tout le corps de la page */
        font-size: 14px;
    }

    header{
        /* Réduction du padding dans l'en-tête de la page */
        padding: 10px;
    }

    .header-container h1{
        /* Réduction de la taille du titre principal de la page */
        font-size: 1.2em;
    }

    section{
        /* Réduction du padding dans les sections */
        padding: 20px 10px;
    }

    section#inscription form input, section#inscription form button{
        /* Augmentation de la largeur des champs de saisi pour mieux remplir l'espace */
        width: 90%;
    }
}

@media (min-width: 481px) and (max-width: 768px){

    header h1{
        /* Ajustement de la taille du titre principal de la page */
        font-size: 1.4em;
    }

    .logo{
        /* Réduction de la taille du logo */
        height: 50px;
    }

    section{
        /* Ajustement du padding */
        padding: 40px 20px;
    }
}
/* Travail du CSS pour le responsive design */

/* Styles pour le bouton de remonté en haut de la page */
#scrollToTopBtn{
   /* Bouton cahé par défaut */
   display: none;
   /* Posisionnement fixe lors du défilement de la page */
   position: fixed;
   /* Placement en bas du bouton */
   bottom: 60px;
   /* Placement à droite de la page */
   right: 30px;
   /* Placement au-dessus des autres éléments */
   z-index: 99;
   /* Pas de bordure pour le bouton */
   border: none;
   /* Pas de contour pour le bouton */
   outline: none;
   /* Couleur de fond */
   background-color: var(--color-primary);
   /* Couleur de la fléche */
   color: var(--color-text);
   /* Mettre une petite main comme cureur */
   cursor: pointer;
   /* Marge interne pour le bouton (padding) */
   padding: 15px;
   /* Arrondir les coins du bouton */
   border-radius: 10px;
   /* Taille de police pour la fléche */
   font-size: 18px;
   /* Ombre portée du bouton */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
   /* Transition pour le fond et sa transformation (agrandissement du bouton) */
   transition: background-color 0.3 ease, transform 0.3s ease;
}

/* Styles du bouton au survol */
#scrollToTopBtn:hover{
    /* Couleur de fond au survol */
    background-color: #ffe033;
    /* Agrandissement au survol */
    transform: scale(1.1);
    /* Agrandissement de la taille de l'ombre portée au survol */
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
}
/* Styles pour le bouton de remonté en haut de la page */

/* Styles pour la section de la galerie d'images */
section#lots-a-gagner {
    background: var(--color-background);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    width: 70%;
    margin: 0 auto 20px;
}

section#lots-a-gagner h2 {
    color: var(--color-primary);
    margin-bottom: 20px;
}

/* Styles pour le conteneur de la galerie d'images */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

/* Styles pour les items de la galerie */
.gallery-item {
    flex: 1 1 300px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative; /* Nécessaire pour positionner la légende */
}

/* Styles pour les images de la galerie */
.gallery-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

/* Effet de zoom au survol des images de la galerie */
.gallery-image:hover {
    transform: scale(1.05);
}

/* Styles pour les légendes des images */
.caption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

/* Styles pour le modal */
.modal {
    display: none; /* Masqué par défaut */
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

/* Styles pour le contenu du modal (image en grand format) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Styles pour le bouton de fermeture du modal */
.close {
    position: absolute;
    top: 30px;
    right: 35px;
    color: var(--color-primary);
    font-size: 40px;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Effet de changement de couleur au survol du bouton de fermeture */
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
